# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Archivos de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos de datos locales
*.db
*.sqlite3
*.log
